body,p,pre,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,tbody,tr,td

{
	margin:0;
	padding: 0;
	margin: 0;
	list-style: none;
}
img{
	border: 0;
}
a{
	text-decoration:none;
	color: none;
	margin: none;
}
body{
	display: block;
	text-align: left;
    font-size: 12px;
    background: #0D0D0D;
    color: #706f6f;
    font-family: "宋体",Arial, Helvetica, sans-serif;
}
	/*-----头部----*/
.header{
	width: 1015px;
	line-height: 36px;
	color: #6b6b6b;
	margin:0 auto;
}
.header span em {
    color: #ff6e27;
    font-size: 100%;
}
.header ul {
    float: right;
    width: 300px;
    background: url(../img/head.png) no-repeat left center;
    height: 36px;
    font-size: 100%;
}
.header ul li{
	float: left;
    padding-left: 23px;
    width: 71px;
}
.header a{
	color: #6b6b6b;
}
/*-----导航----*/
.nav {
    width: 100%;
    height: 103px;
    overflow: hidden;
    background: url(../img/nav.png) repeat-x;
}
.navbox{
	width: 1015px;
    margin: 0 auto;
    height: 103px;
    position: relative;
}
.logo{
	position: absolute;
    left: 13px;
    top: 26px;
}
.navbox ul{
	position: absolute;
    top: 0;
    right: 0;
}
.navbox ul li{
	width: 87px;
    height: 100px;
    float: left;
}
.navbox li a {
    width: 87px;
    height: 100px;
    display: block;
}
.nav1{
	background: url(../img/11.png) no-repeat;
}
.nav2{
	background: url(../img/22.png) no-repeat;
}
.nav3{
	background: url(../img/33.png) no-repeat;
}
.nav4{
	background: url(../img/44.png) no-repeat;
}
.nav5{
	background: url(../img/55.png) no-repeat;
}
.nav6{
	background: url(../img/66.png) no-repeat;
}
.nav7{
	background: url(../img/77.png) no-repeat;
}
.nav7 a:hover{
	background: url(../img/7.jpg) no-repeat;
}
.nav6 a:hover{
	background: url(../img/6.jpg) no-repeat;
}
.nav5 a:hover{
	background: url(../img/5.jpg) no-repeat;
}
.nav4 a:hover{
	background: url(../img/4.jpg) no-repeat;
}
.nav3 a:hover{
	background: url(../img/3.jpg) no-repeat;
}
.nav2 a:hover{
	background: url(../img/1.jpg) no-repeat;
}
.nav1 a:hover{
	background: url(../img/2.jpg) no-repeat;
}
/*---banner---*/
.banner{
    height: 354px;
    width: 100%;
    background: url(../img/banner.png) no-repeat center;
    position: relative;
}
.bannerbox{
	width: 1015px;
    margin: 0 auto;
    height: 354px;
    position: relative;
}
.bannerbox img{
	position: absolute;
	top: 0px;
	left: 0px;
}
.bannerd{
	width: 506px;
	height: 29px;
    background: #f3640e;
    position: absolute;
    bottom: 0px;
    padding: 11px 0 0 509px;
}
.bannerd ul{
	width: 55px;
	height: 10px;
	position: absolute;
	bottom: 10px;
}
.bannerd ul li{
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #FFB267;
	float: left;
	margin-left: 10px;
}
.bannerd ul>.active{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-top: -2px;
	background: white;
}
/*---产品展示---*/
.zhanshi{
	width: 1015px;
	background: url(../img/body.png) no-repeat;
    height: 254px;
    margin:13px auto 0;
}
.zhanshi ul{
	padding-top: 54px;
}
.zhanshi ul li{
	width: 312px;
    height: 170px;
    float: left;
    margin-left: 20px;
}
.zhanshi ul li a{
	width: 312px;
    height: 170px;
    display: block;
}
.by1{
	background: url(../img/in4.jpg) no-repeat;
}
.by2{
	background: url(../img/04.jpg) no-repeat;
}
.by3{
	background: url(../img/in3.png) no-repeat;
}
.by3:hover{
	background: url(../img/in6.png) no-repeat;
}
.by2:hover{
	background: url(../img/03.jpg) no-repeat
}
.by1:hover{
	background: url(../img/in1.png) no-repeat;
}
/*---脚----*/
.foot{
	background: #0a0a0a;
    border-top: 1px solid #262626;
    padding: 10px 0;
    clear: both;
}
.footn{
	width: 1015px;
    color: #5f5e5e;
    line-height: 24px;
    margin:0 auto;
}
.footn img{
	float: left;
}
.footwz{
	margin-top: 5px;
	margin-left: 50px;
	width: 593px;
	height: 30px;
	float: left;
	color: #666666;
}
.b{
	margin-top: -5px;
}
.footwz a{
	color: #666666;
}
.sb{
	margin-top: -35px;
	width: 60px;
	height: 60px;
	float: left;
}


